# Which routines to run (and display), how often (in seconds) they should update,
# and which colors to use for them.
#
# There are 5 comma-delimited values for each routine:
# 1. The routine (possible values are in enum sb_routine_e in src/statusbar.h)
# 2. How often in seconds to run each routine. For example, a value 5 means to run every 5 seconds.
# 3. The color in RGB form to use for normal operating conditions.
# 4. The color in RGB form to use for warning operating conditions.
# 5. The color in RGB form to use for error operating conditions.
# The specifications of the 3 operating conditions for each routine can be
# found in the README under Getting Started -> Colors.
# TOP BAR             normal     warning    error
TODO     , 5      , "#FFFFFF", "#BB4F2E", "#A1273E"
WEATHER  , 60 * 30, "#FFFFFF", "#BB4F2E", "#A1273E"
WIFI     , 5      , "#FFFFFF", "#BB4F2E", "#A1273E"
TIME     , 1      , "#FFFFFF", "#BB4F2E", "#A1273E"

# DELIMITER BETWEEN BARS
DELIMITER, 0      , NULL     , NULL     , NULL

# BAR
NETWORK  , 1      , "#FFFFFF", "#BB4F2E", "#A1273E"
DISK     , 5      , "#FFFFFF", "#BB4F2E", "#A1273E"
RAM      , 5      , "#FFFFFF", "#BB4F2E", "#A1273E"
LOAD     , 1      , "#FFFFFF", "#BB4F2E", "#A1273E"
CPU_USAGE, 1      , "#FFFFFF", "#BB4F2E", "#A1273E"
CPU_TEMP , 1      , "#FFFFFF", "#BB4F2E", "#A1273E"
FAN      , 1      , "#FFFFFF", "#BB4F2E", "#A1273E"
BATTERY  , 30     , "#FFFFFF", "#BB4F2E", "#A1273E"
VOLUME   , 1      , "#FFFFFF", "#BB4F2E", "#A1273E"

# SB_FALSE to not color text, or if status2d patch is not installed
static SB_BOOL color_text = SB_TRUE;

# Which mounted filesystems to display for the disk routine.
static const struct {
	const char *path;
	const char *display_name;
} filesystems[] = {
	{ "/"    , "root" },
	{ "/home", "home" },
};

# Format of the clock (see strftime(3) for conversion specifications).
static const char *time_format = "%b %d - %I:%M";

# Path to personal TODO list within home directory of user running program.
static const char *todo_path = ".TODO";

# Zip Code for weather data.
static const char *zip_code = "90210";

